@page "/counter"
@using POCSQLCO.Models
@rendermode InteractiveServer
@inject Models.IVaporService VaporService

<PageTitle>Genre</PageTitle>

<h1>ajouter un Genre</h1>

<EditForm Model="@newGenre" OnValidSubmit="SubmitForm">

    <label>Nom</label>
    <InputText @bind-Value="newGenre.Libelle" />

    <button type="submit">ajouter</button>

</EditForm>


@code{
    public Genre newGenre = new Genre();

    private void SubmitForm(){
        VaporService.InsertGenre(newGenre);
    }
}
