@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name !</h1>
    </Authorized>
    <NotAuthorized>
        <h1>You should connect you know ?</h1>
    </NotAuthorized>
</AuthorizeView>

<h1>BIENVENUE SUR VAPOR</h1>

Welcome to your new app.

@code{
}